

<link rel="stylesheet" href="/css/wallop.css">
  <link rel="stylesheet" href="/css/wallop--slide.css">


  <div class="Container">

    <!-- SLIDER STARTS -->
    <div class="Wallop">
      <div class="Wallop-list">
        <div class="Wallop-item"><img src="/assets/21/IMG_0346.jpg"><br />Well equipped but no facility for mudguards</div>
        <div class="Wallop-item"><img src="/assets/21/IMG_0347.jpg"><br />Mercian - a classic steel lightweight</div>
        <div class="Wallop-item"><img src="/assets/21/IMG_0349.jpg"><br />Genesis with reliable but heavy 11speed back hub</div>
        <div class="Wallop-item"><img src="/assets/21/IMG_0350.jpg"><br />Not hanging about...</div>
        <div class="Wallop-item"><img src="/assets/21/IMG_0351.jpg"><br />Bob Jackson - another hand-made English classic</div>
        <div class="Wallop-item"><img src="/assets/21/IMG_0352.jpg"><br />400k on a stiff aluminium frame with stiff alloy wheels? No thanks.</div>
        <div class="Wallop-item"><img src="/assets/21/IMG_0353.jpg"><br />Old carbon racing bike being contorted into a Audax bike with strap on mudguards</div>
        <div class="Wallop-item"><img src="/assets/21/IMG_0354.jpg"><br />Really. Someone rode 400km on this. Makes you feel sane.</div>
        <div class="Wallop-item"><img src="/assets/21/IMG_0355.jpg"><br />Another classic English marque - a Roberts</div>
        <div class="Wallop-item"><img src="/assets/21/IMG_0356.jpg"><br />Another Roberts - note colour coded mudguard extensions</div>

      <button class="Wallop-buttonPrevious" style="background-color: white; border: 1px solid black; padding:6px; font-size: 15px">Previous</button>
      <button class="Wallop-buttonNext" style="background-color: white; border: 1px solid black; padding:6px; font-size: 15px">Next</button>
      </div>
    </div>
    <!-- SLIDER ENDS -->

  </div>



  <script src="/css/Wallop.js"></script>
  <script>
    // New instance of Wallop
    var slider = document.querySelector('.Wallop');
    var Wallop = new Wallop(slider);
  </script>
