

<link rel="stylesheet" href="/css/wallop.css">
  <link rel="stylesheet" href="/css/wallop--slide.css">


  <div class="Container">

    <!-- SLIDER STARTS -->
    <div class="Wallop">
      <div class="Wallop-list">
        <div class="Wallop-item"><img src="/assets/23/23-300-1.jpg"><br />&nbsp;</div>
        <div class="Wallop-item"><img src="/assets/23/23-300-3.jpg"><br />&nbsp;</div>
        <div class="Wallop-item"><img src="/assets/23/23-300-4.jpg"><br />&nbsp;</div>
        <div class="Wallop-item"><img src="/assets/23/23-300-5.jpg"><br />&nbsp;</div>
        <div class="Wallop-item"><img src="/assets/23/23-300-6.jpg"><br />&nbsp;</div>
        <div class="Wallop-item"><img src="/assets/23/23-300-7.jpg"><br />&nbsp;</div>


      <button class="Wallop-buttonPrevious" style="background-color: white; border: 1px solid black; padding:6px; font-size: 15px">Previous</button>
      <button class="Wallop-buttonNext" style="background-color: white; border: 1px solid black; padding:6px; font-size: 15px">Next</button>
      </div>
    </div>
    <!-- SLIDER ENDS -->

  </div>



  <script src="/css/Wallop.js"></script>
  <script>
    // New instance of Wallop
    var slider = document.querySelector('.Wallop');
    var Wallop = new Wallop(slider);
  </script>
