

<link rel="stylesheet" href="/css/wallop.css">
  <link rel="stylesheet" href="/css/wallop--slide.css">


  <div class="Container">

    <!-- SLIDER STARTS -->
    <div class="Wallop">
      <div class="Wallop-list">
        <div class="Wallop-item"><img src="/assets/14/1.jpg"><br />Ridable? Only just.</div>
        <div class="Wallop-item"><img src="/assets/14/2.jpg"><br />Posh commuter's bike of choice - the Giant Defy.</div>
        <div class="Wallop-item"><img src="/assets/14/3.jpg"><br />Giant hybrid - there are more of these in the world than sparrows. </div>
        <div class="Wallop-item"><img src="/assets/14/4.jpg"><br />Early 90s Raleigh when they were experimenting with materials - this one has a mixture of steel and titanium tubes. Seat angle marks out rider as... strange.</div>
        <div class="Wallop-item"><img src="/assets/14/5.jpg"><br />The other end of Raleigh - a heavy steel roadster with rotting tyres. Note lock worth triple the bike.</div>
        <div class="Wallop-item"><img src="/assets/14/6.jpg"><br />Classic high-character London single-speed rat bike with courier pretensions.</div>
        <div class="Wallop-item"><img src="/assets/14/7.jpg"><br />Real 'bitsa' bike. Old mafac brakes date frame as 70-80s while front wheel is from ealry 2000s. Loose chain shows it's set up single speed not fixed (or at least I hope so)</div>
        <div class="Wallop-item"><img src="/assets/14/8.jpg"><br />B-Twin, French megabrand, the new version of the shopper</div>
        <div class="Wallop-item"><img src="/assets/14/9.jpg"><br />Trek District single speed from around 2013. Note owner has had to retrofit fugly mudguards to make it London pratical. Horrible saddle.</div>
        <div class="Wallop-item"><img src="/assets/14/10.jpg"><br />Another Trek. Yuk. Bike way too small for owner.</div>
        <div class="Wallop-item"><img src="/assets/14/11.jpg"><br />Londoners love these cheap bright fixies. Around £300 new. Heavy but impart an aura of cool for those who have no idea what a real cool fixie looks like (snob!)</div>
        <div class="Wallop-item"><img src="/assets/14/12.jpg"><br />Fancy! Cube (German) commuter and canal path cruiser, all the bike most people need.  </div>
        <div class="Wallop-item"><img src="/assets/14/13.jpg"><br />A pair of heavy steel bikes. Note bike on left has no pedal body. Abandoned?</div>
        <div class="Wallop-item"><img src="/assets/14/14.jpg"><br />Euro non-brand bike on left - not old but horrible. BTwin on right is a real bargain and very versatile. Again, horrible mudguards conversion. </div>
        <div class="Wallop-item"><img src="/assets/14/15.jpg"><br />80s MBK - always liked this bike. Gatroskin tyres mark this one as proper rider's bike.</div>

      
      <button class="Wallop-buttonPrevious" style="background-color: white; border: 1px solid black; padding:6px; font-size: 15px">Previous</button>
      <button class="Wallop-buttonNext" style="background-color: white; border: 1px solid black; padding:6px; font-size: 15px">Next</button>
      </div>
    </div>
    <!-- SLIDER ENDS -->

  </div>



  <script src="/css/Wallop.js"></script>
  <script>
    // New instance of Wallop
    var slider = document.querySelector('.Wallop');
    var Wallop = new Wallop(slider);
  </script>
